In [1]:
import pandas as pd

In [5]:
# CSV-Dateien laden
df_products = pd.read_csv('FP_products.csv')
df_stores = pd.read_csv('FP_stores.csv')

In [7]:
# Parquet-Dateien laden
df_transaction_lines_train = pd.read_parquet('FP_transaction_lines_train_3.parquet')
df_transaction_lines_test = pd.read_parquet('FP_transaction_lines_test_3.parquet')
df_transactions_train = pd.read_parquet('FP_transactions_train_3.parquet')
df_transactions_test = pd.read_parquet('FP_transactions_test_3.parquet')

In [9]:
# Vorschau
print("Products:")
display(df_products.head())

Products:

,id,base_product_id,category,price,popularity,valid_from,valid_to,sold_by_weight,weight,age_restricted
0,fffcbc8a-f73f-496c-8f4e-671a7f0b7ab2,fffcbc8a-f73f-496c-8f4e-671a7f0b7ab2,CONVENIENCE,2.49,0.121549,2024-10-29,2025-01-06,False,0.500000,False
1,608a870f-f898-486c-b66d-8979855c1cbb,608a870f-f898-486c-b66d-8979855c1cbb,FRUITS_VEGETABLES,12.79,0.015492,2013-12-27,2014-07-16,True,NaN,False
2,3758a745-6170-4650-ad9d-0f8b6c6b781d,3758a745-6170-4650-ad9d-0f8b6c6b781d,LONG_SHELF_LIFE,1.79,0.139815,2023-02-11,2023-05-09,False,0.500000,False
3,d5579e9a-8fd4-4ca5-a902-88348d8e0130,d5579e9a-8fd4-4ca5-a902-88348d8e0130,FRUITS_VEGETABLES_PIECES,1.49,0.148460,2023-09-03,2023-09-24,False,1.397181,False
4,ad191c01-3a19-4ae9-b7a0-1f8fdf227414,ad191c01-3a19-4ae9-b7a0-1f8fdf227414,FROZEN_GOODS,2.49,0.121549,2011-05-05,2013-08-27,False,1.630000,False

In [35]:
print("Stores:")
display(df_stores.head(50))

Stores:

,id,opening_date,location,state,urbanization,sco_introduction
0,664c9b33-0553-4050-9dff-5afc3aa3334b,2006-06-19,Karlsruhe,Baden-Württemberg,TOWNS,2022-02-13
1,29b64dcc-72e4-4dc9-b482-b169a7e9037f,1993-10-01,Bielefeld,Nordrhein-Westfalen,CITIES,2022-02-28
2,b0973ffa-ce15-41e0-9de7-1390598e24f2,2005-06-02,Berlin,Berlin,RURAL,2022-02-02
3,88a1ecdf-2fe9-4517-88ea-170959aad9bb,2006-08-11,Leipzig,Sachsen,TOWNS,2022-03-11
4,d3892a9e-8cbc-4237-be9c-211435dc92c0,2003-02-10,München,Bayern,TOWNS,2022-02-08
5,f935b53a-3b0a-463c-84f2-ef27a4c16534,1998-07-17,Köln,Nordrhein-Westfalen,RURAL,2022-02-19
6,3b647609-851c-4e92-a0a5-cb1d824347bb,2009-08-05,Kassel,Hessen,TOWNS,2022-02-14
7,6a7406ec-4ebb-4df7-83ce-9528663e553e,1993-08-16,Düsseldorf,Nordrhein-Westfalen,TOWNS,2022-03-18
8,75cf982f-abc4-4e88-8d67-70f6767fe5d0,2007-02-05,Heidelberg,Baden-Württemberg,CITIES,2022-03-03
9,ed996b17-17d6-47e8-9262-d1d02b52cdb4,1994-09-19,München,Bayern,TOWNS,2022-02-06
10,8971e6e2-67c8-4ebd-9156-8f2fd2d4e6d5,1995-09-18,Karlsruhe,Baden-Württemberg,CITIES,2022-03-19
11,cd833b6b-0666-42df-b538-6bb1f189b66e,2000-10-05,Köln,Nordrhein-Westfalen,RURAL,2022-02-02
12,3fffea06-686f-42bd-8362-818af86b48a9,1998-02-17,Bonn,Nordrhein-Westfalen,TOWNS,2022-02-15
13,46e6da32-f4b0-40f3-ada7-fc6ca81ed85d,2004-10-05,Stuttgart,Baden-Württemberg,CITIES,2022-02-08
14,027bcee3-7968-4127-a201-9c9c45a35157,1998-09-10,Chemnitz,Sachsen,CITIES,2022-03-18
15,581831fc-6a03-4e38-9025-0a889b7fe542,1990-07-17,Dortmund,Nordrhein-Westfalen,CITIES,2022-02-22
16,7ddf76eb-ef7c-46e7-a337-9273ddba3dfd,1990-06-06,Oberhausen,Nordrhein-Westfalen,CITIES,2022-02-02
17,9aaa4004-eacd-425d-89ac-5e3d64dc9426,2002-02-01,Osnabrück,Niedersachsen,CITIES,2022-02-05

In [13]:
print("Transaction Lines Train:")
display(df_transaction_lines_train.head())

Transaction Lines Train:

,id,transaction_id,product_id,timestamp,pieces_or_weight,sales_price,was_voided,camera_product_similar,camera_certainty
0,1,3a026860-ba39-4b3c-88d8-dd7bf1dedae3,a74b2791-00a9-40c7-a185-a5056e04d71c,2022-02-02 12:09:35.061006,10.0,3.90,False,False,0.283942
1,1,679300ac-e059-4fa6-8e38-43f113b73fd3,8f8c0fa6-3500-41d2-8c91-b2da67c4cf31,2022-02-02 13:33:49.652189,4.0,3.96,False,False,0.246889
2,2,679300ac-e059-4fa6-8e38-43f113b73fd3,29c7c0d4-93a8-4eef-b84d-7b27e867cf00,2022-02-02 13:33:53.642137,3.0,8.97,False,True,0.296224
3,3,679300ac-e059-4fa6-8e38-43f113b73fd3,3422a75e-6ff4-44c1-a4aa-c8ee444c78e8,2022-02-02 13:33:55.230085,53.0,52.47,False,True,0.301462
4,4,679300ac-e059-4fa6-8e38-43f113b73fd3,8c25e08c-9724-433f-b119-38608bcfc1c8,2022-02-02 13:33:56.582021,2.0,5.58,False,True,0.221786

In [15]:
print("Transaction Lines Test:")
display(df_transaction_lines_test.head())

Transaction Lines Test:

,id,transaction_id,product_id,timestamp,pieces_or_weight,sales_price,was_voided,camera_product_similar,camera_certainty
0,1,5c29db6d-992b-4beb-a985-b2c39c800ffd,239836c2-6316-4696-81fb-8e50ec7f1c24,2024-05-28 18:19:43.593066,3.0,0.87,False,True,1.000000
1,2,5c29db6d-992b-4beb-a985-b2c39c800ffd,dcb2cdb9-e93a-436b-8e0a-082aed1c5eb3,2024-05-28 18:19:45.037894,7.0,2.73,False,True,0.887042
2,3,5c29db6d-992b-4beb-a985-b2c39c800ffd,bd1dd4f4-88c8-42e5-965f-9b74f267d163,2024-05-28 18:19:59.485036,1.0,0.99,False,True,1.000000
3,4,5c29db6d-992b-4beb-a985-b2c39c800ffd,d7fbf6ef-458c-4030-8869-cb31a3642464,2024-05-28 18:20:00.798003,12.0,16.68,False,True,1.000000
4,5,5c29db6d-992b-4beb-a985-b2c39c800ffd,862baf4d-aa0b-400e-a607-b2929a269805,2024-05-28 18:20:07.540996,1.0,0.99,False,True,0.796848

In [17]:
print("Transactions Train:")
display(df_transactions_train.head())

Transactions Train:

,id,store_id,cash_desk,transaction_start,transaction_end,total_amount,n_lines,payment_medium,customer_feedback,damage,label
0,6cec130b-937a-48a9-b515-6ef7da7652ea,cd833b6b-0666-42df-b538-6bb1f189b66e,0,2022-02-02 08:05:48,2022-02-02 08:06:45.332047,26.33,5,CREDIT_CARD,NaN,NaN,UNKNOWN
1,5a9e87b8-41b8-485f-8165-894c5dede09a,cd833b6b-0666-42df-b538-6bb1f189b66e,1,2022-02-02 08:06:09,2022-02-02 08:07:17.591365,83.62,9,CREDIT_CARD,NaN,NaN,UNKNOWN
2,c6def524-2e54-4c18-8379-13020ceb06f2,cd833b6b-0666-42df-b538-6bb1f189b66e,2,2022-02-02 08:07:12,2022-02-02 08:07:30.495585,9.54,2,CREDIT_CARD,NaN,NaN,UNKNOWN
3,619753db-5277-4d79-8f51-aaabdc9aeb6a,cd833b6b-0666-42df-b538-6bb1f189b66e,3,2022-02-02 08:09:39,2022-02-02 08:09:59.068665,6.90,3,CREDIT_CARD,NaN,NaN,UNKNOWN
4,2bb8f792-b9e2-4f17-a54d-72cc7c88424c,cd833b6b-0666-42df-b538-6bb1f189b66e,0,2022-02-02 08:15:36,2022-02-02 08:15:44.045072,11.95,1,CREDIT_CARD,NaN,NaN,UNKNOWN

In [23]:
print("Transactions Test:")
display(df_transactions_test.head(200))

Transactions Test:

,id,store_id,cash_desk,transaction_start,transaction_end,total_amount,n_lines,payment_medium,customer_feedback
0,c4f3cda2-3c43-4837-8040-3228601fbdee,581831fc-6a03-4e38-9025-0a889b7fe542,0,2024-01-02 10:29:39,2024-01-02 10:30:32.654732,67.38,6,CREDIT_CARD,NaN
1,7a045ea6-51e6-4a4d-80d1-cdc8a7507aee,581831fc-6a03-4e38-9025-0a889b7fe542,0,2024-01-02 08:07:33,2024-01-02 08:08:32.149689,121.22,7,CREDIT_CARD,NaN
2,fb1af297-18f8-49a7-b94c-f77f1497d37c,581831fc-6a03-4e38-9025-0a889b7fe542,1,2024-01-02 08:09:18,2024-01-02 08:11:25.767051,107.80,21,CREDIT_CARD,NaN
3,e460372c-bd95-410c-b235-fbad461bda0c,581831fc-6a03-4e38-9025-0a889b7fe542,2,2024-01-02 08:11:03,2024-01-02 08:14:53.343401,212.71,36,CREDIT_CARD,NaN
4,3e57c08b-5b32-4bf8-aaa5-533e913b68f4,581831fc-6a03-4e38-9025-0a889b7fe542,3,2024-01-02 08:11:03,2024-01-02 08:11:18.556683,1.96,1,CREDIT_CARD,NaN
...,...,...,...,...,...,...,...,...,...
195,26e651b6-49ff-4b2f-8242-06129eb4918b,581831fc-6a03-4e38-9025-0a889b7fe542,3,2024-01-03 11:28:06,2024-01-03 11:28:45.565924,59.10,3,CREDIT_CARD,10.0
196,c8c95a1c-8e26-4e08-9b8d-60f8d8f34b6d,581831fc-6a03-4e38-9025-0a889b7fe542,1,2024-01-03 11:28:06,2024-01-03 11:28:25.857697,15.35,2,CREDIT_CARD,NaN
197,32c69fad-eaca-49a7-b083-a4e49dff9bfc,581831fc-6a03-4e38-9025-0a889b7fe542,2,2024-01-03 11:30:12,2024-01-03 11:30:45.424400,30.33,3,CASH,NaN
198,433af769-3937-418c-a4e0-7b1b2b0cedcc,581831fc-6a03-4e38-9025-0a889b7fe542,0,2024-01-03 11:31:36,2024-01-03 11:31:51.320215,4.41,1,CREDIT_CARD,NaN
199,7f95fcc4-7086-405d-8386-87c5f64526fc,581831fc-6a03-4e38-9025-0a889b7fe542,1,2024-01-03 11:39:18,2024-01-03 11:39:42.787899,14.32,3,CREDIT_CARD,NaN

Welche Werte werden in n_lines angenommen?

In [33]:
df_transaction_lines_train['product_id'].nunique()

3229

{
  "stores": {
    "description": "Each row represents a unique point of sale location.",
    "columns": {
      "id": {
        "description": "Primary key"
      },
      "opening_date": {
        "description": "Date when the store was opened for the first time"
      },
      "location": {
        "description": "NUTS3, name of the locality"
      },
      "state": {
        "description": "NUTS 1 (federal state, województwa, etc.)"
      },
      "urbanization": {
        "description": "DEGURBA"
      },
      "sco_introduction": {
        "description": "Date when self-checkout terminals became operational"
      }
    }
  },
  "products": {
    "description": "Each row represents a unique article.",
    "columns": {
      "id": {
        "description": "Primary key; SKU of the article"
      },
      "base_product_id": {
        "description": "Foreign key references products; SKU of the original article when size, price, or similar attributes of an article change."
      },
      "category": {
        "description": "Commodity group"
      },
      "price": {
        "description": "Nominal price most customers pay for this product in EUR per piece or EUR per kg"
      },
      "popularity": {
        "description": "Ana: Likelihood ratio of an average customer choosing this article over the average article in this category."
      },
      "valid_from": {
        "description": "First day on which the product is available in the POS system"
      },
      "valid_to": {
        "description": "Last day on which the product is available in the POS system"
      },
      "sold_by_weight": {
        "description": "Determines whether article price is in EUR per piece or EUR per kg"
      },
      "weight": {
        "description": "Average weight of the product in kg. Partly crawled data, might be inaccurate."
      },
      "age_restricted": {
        "description": "Cashier has to confirm that customer is not a minor."
      }
    }
  },
  "transactions": {
    "description": "Each row represents a single receipt for one customer basket. Contains all data specific to the entire receipt.",
    "columns": {
      "id": {
        "description": "Primary key."
      },
      "store_id": {
        "description": "Foreign key referencing stores.id"
      },
      "cash_desk": {
        "description": "Checkout identifier; 101 is the store's leftmost checkout."
      },
      "transaction_start": {
        "description": "Time of the first scan"
      },
      "transaction_end": {
        "description": "Time of the receipt printing"
      },
      "total_amount": {
        "description": "Receipt grand total in EUR"
      },
      "n_lines": {
        "description": "Number of valid lines on the receipt"
      },
      "payment_medium": {
        "description": "Did customer pay in cash or by card?"
      },
      "customer_feedback": {
        "description": "Stars received (SCO only)"
      },
      "damage": {
        "description": "Total potential monetary loss due to discovered fraud (SCO only)"
      },
      "label": {
        "description": "Customer classification after basket check."
      }
    }
  },
  "transaction_lines": {
    "description": "Each row represents a quantity of a distinct article on a receipt. Contains all data specific to the line.",
    "columns": {
      "id": {
        "description": "Composite key; Receipt line number"
      },
      "transaction_id": {
        "description": "Composite key, foreign key referencing transactions.id; parent transaction"
      },
      "product_id": {
        "description": "Foreign key referencing product.id; SKU of the scanned article"
      },
      "timestamp": {
        "description": "Scan time"
      },
      "pieces_or_weight": {
        "description": "Quantity of the product in kg or pieces, depending on product type"
      },
      "sales_price": {
        "description": "Amount customer paid in EUR"
      },
      "was_voided": {
        "description": "Was line marked as void?"
      },
      "camera_product_similar": {
        "description": "True if the combination of article seen by the camera and scanned barcode has been seen several times before."
      },
      "camera_certainty": {
        "description": "Estimated probability of the camera's product matching being correct."
      }
    }
  }
}

Features für Label= ... bzw. damage=...

aus transactions:

store ID | kategorial
cashdeck | kategorial (wofür stehen Zahlen? Laut Metadaten 101 gleich linkeste Kasse; was sind dann 0,1,2, ...?
transaction start | kategorial zu konvertieren (früh / mittag / spät / sehr spät o.ä.)
transaction end | Nutzung für Transaktionsdauer in Minuten (kontinuierlich) end-start
total_amount | kontinuierlich
n_lines | Anzahl von Artikeln in natürlichen Zahlen
payment medium | kategorial
customer feedback | aufteilen? schlecht, mittel, gut

aus n_lines (muss aggregiert werden über alle Produkte eines jeweiligen Einkaufs):

    product_id - enthält Artikel einer bestimmten Produktkatorie - kategorial
    sold_by_weight - Anz. Artikel sold by weight
    age_restricted - Anz. Artikel age restricted
    neu: durchschn. Popularität
    neu: max. Popularität
    neu: max Preis eines Artikels
    neu: Durchschnittspreis aller gekauften Artikel
    enthält Zeile "was voided" -> Vorsicht: sicherer Prädiktor für falsche Transaktion?
    enthält Produkt mit "camera_product_similar=False" - binär ja / nein
    Berechne Summe über: camera_product_similar*camera_certainty (Achtung, jeweils Vorzeichen tauschen bei True / False)
    

aus store_id:

location | kategorial
urbanization | kategorial
sco_introduction | Zeit in Jahren / Tagen seit Einführung, diskret natürliche Zahlen